<header class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path('admin_homepage') }}">西洋汇应聘人员资料管理系统</a>
    <a href="{{ path('logout') }}" class="btn btn-outline-danger ">登出</a>
</header>