{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('logout') }}">登出</a>

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <button type="submit">提交</button>

    {{ form_end(form) }}
{% endblock %}
