{% extends 'base.html.twig' %}

{% form_theme form 'layout/bootstrap_4_layout.html.twig' %}

{% block body %}
    {{ include('admin/_header.html.twig') }}

    <div class="container">
        <h1>添加信息</h1>
        {{ include('form/_form.html.twig') }}
    </div>
{% endblock %}
